/*
* Folk Templates (Personal Portofolio)
* Created by : vavelo
* Version : 1.0
*/

/* INDEX OF CONTENTS CSS
=================================================
  XX. GOOGLE FONTS & FONTS FAMILY
  01. TYPOGRAPHY
  02. GENERAL
  03. PRELOADER
  04. NAVIGATION
  05. HOME
  06. ABOUT
  07. SKILLS
  08. PORTFOLIO
  09. SERVICES
  10. HIRE
  11. TESTIMONIALS
  12. BLOG
  13. CONTACT
  14. BLOG POST
  15. POST
*/

/* XX. GOOGLE FONTS & FONTS FAMILY
=================================================*/

/*
font-family: 'Hind', sans-serif;
font-family: 'Lato', sans-serif;
*/

/* 01. TYPOGRAPHY
=================================================*/

h1, h2 {
    font-family: 'Hind', sans-serif;
    margin: 0;
    padding: 0;
}

h3, h4, h5, h6, p, a {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.7em;
    margin-bottom: 20px;
    color: #131313;
}

h4 {
    font-weight: 600;
    margin-bottom: 15px;
    color: #131313;
}

p {
    color: #181a1b;
    font-size: 16px;
}

/* 02. GENERAL
=================================================*/

body {
    font-family: 'Lato', sans-serif;
    line-height: 26px;
    margin: 0;
    padding: 0;
}

.btn {
    padding: 8px 25px;
    text-transform: capitalize;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin-right: 4px;
    margin-bottom: 4px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-size: 16px;
}

.btn:hover, .btn:active, .btn:focus {
    box-shadow: none !important;
    outline: none !important;
}

.btn-lg {
    padding: 20px 50px;
    font-size: 18px;
}

.btn-light {
    background: #48b14d;
    color: #fff;
    border: none;
}

.btn-light:hover, .btn-light:focus, .btn-light:active {
    background: #616161 !important;
    color: #fff;
    visibility: visible;
    opacity: 1;
}

.btn-dark {
    background: #131313;
    color: #fff;
    border: none;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
    background: #48b14d !important;
    visibility: visible;
    color: #fff;
}

.btn.with-arrow {
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn.with-arrow:hover {
    padding-right: 50px;
}

.btn.with-arrow i {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -8px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.btn.with-arrow:hover i {
    color: #fff;
    right: 18px;
    visibility: visible;
    opacity: 1;
}

/* 03. PRELOADER
=================================================*/

#preloader {
    position: fixed;
    background: #131313;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    z-index: 10000;
}

#status {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .5s ease-in-out;
}

.loader-revolve {
    height: 32px;
    width: 32px;
}

.loader-revolve::after {
    position: absolute;
    display: block;
    background: #fff;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 12px;
    height: 12px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    -webkit-animation: loader-revolve-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader-revolve-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes loader-revolve-1 {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
}

@keyframes loader-revolve-1 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.loader-revolve span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 32px;
    width: 32px;
    -webkit-animation: loader-revolve-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader-revolve-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes loader-revolve-2 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loader-revolve-2 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-revolve span::before, .loader-revolve span::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 12px;
    width: 12px;
    background: #fff;
    border-radius: 50%;
    -webkit-animation: loader-revolve-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader-revolve-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes loader-revolve-3 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
    50% {
        -webkit-transform: translate3d(-16px, 0, 0) scale(.5);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes loader-revolve-3 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }
    50% {
        transform: translate3d(-16px, 0, 0) scale(.5);
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}

.loader-revolve span::after {
    -webkit-animation: loader-revolve-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader-revolve-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes loader-revolve-4 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
    50% {
        -webkit-transform: translate3d(16px, 0, 0) scale(.5);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes loader-revolve-4 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }
    50% {
        transform: translate3d(16px, 0, 0) scale(.5);
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}

/* 04. NAVIGATION
=================================================*/

#navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.logo {
    padding-top: 28px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.logo a {
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 2px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-menu .navbar-nav li a {
    color: rgba(255, 255, 255, 0.71);
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 18.15px;
    padding: 30px 13px;
    -webkit-transition: .3s;
    transition: .3s;
}

.navigation-menu .navbar-nav .active {
    color: #fff;
}

.navigation-menu .navbar-nav li a:hover {
    color: #fff;
    background: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav li a:focus, .nav li a:hover {
    color: rgba(255, 255, 255, 0.8);
    background: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    margin: 0;
}

.nav-bg {
    background: #fff;
    border-bottom: 1px solid #f0f0f0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav-bg .logo {
    padding-top: 18px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav-bg .logo a {
    color: #131313;
}

.nav-bg .navigation-menu .navbar-nav li a {
    color: #131313;
    padding: 20px 13px;
    -webkit-transition: .3s;
    transition: .3s;
}

.nav-bg .navigation-menu .navbar-nav li a:hover {
    color: #48b14d;
}

.nav-bg .navbar-nav>.active>a, .nav-bg .navbar-nav>.active>a:hover, .nav-bg .navbar-nav>.active>a:focus {
    color: #48b14d !important;
    background-color: transparent;
}

/* 05. HOME
=================================================*/

#home {
    height: 100vh;
}

.home-bg {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 1;
    background-repeat: no-repeat;
}

.overlay:after {
    position: absolute;
    background: rgba(7, 7, 7, 0.6);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: "";
    z-index: -1;
}

.home-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.profile-pic img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin: 0 auto;
}

.home-text h1 {
    color: #fff;
    font-size: 4em;
    line-height: 80px;
    margin-top: 30px;
}

.home-text h3 {
    color: rgba(255, 255, 255, 0.66);
    letter-spacing: 2px;
}

.arrow {
    color: #fff;
    font-size: 3em;
    white-space: nowrap;
    position: absolute;
    right: 0;
    bottom: 50px;
    left: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 750ms ease-in-out;
    -ms-transition: all 750ms ease-in-out;
    -o-transition: all 750ms ease-in-out;
    transition: all 750ms ease-in-out;
}

.lift {
    bottom: 64px;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

/* 06. ABOUT
=================================================*/

#about {
    padding: 90px 0 75px;
    background: #fff;
}

#about h2 {
    margin-top: 0;
}

.description {
    max-width: 100%;
    width: 38em;
}

.description p {
    margin-bottom: 20px;
}

.social-icons {
    padding-left: 0px;
}

.social-icons li {
    display: inline-block;
    display: -moz-inline-stack;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-icons li a {
    color: #131313;
    background: rgba(42, 41, 41, 0);
    display: inline-block;
    display: -moz-inline-stack;
    width: 50px;
    height: 40px;
    box-sizing: border-box;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.social-icons li a:hover {
    color: #48b14d;
}

.social-icons li a i {
    font-size: 1.3em;
}

.facts {
    float: right;
    margin-top: 30px;
}

.count-item {
    margin-right: 0;
    margin-bottom: 20px;
}

.numscroller {
    color: #131313;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
}

.count-name-intro {
    color: #131313;
    font-size: 1.3em;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

/* 07. SKILLS
=================================================*/

#skills {
    padding: 95px 0 50px;
    background: #f2f2f2;
}

#skills h2 {
    margin-bottom: 50px;
}

.skills-right {
    float: right;
}

.progress-box {
    margin-bottom: 50px;
}

.progress-box p {
    font-weight: 600;
    margin-bottom: 10px;
}

.progress {
    background-color: rgba(26, 26, 26, 0.31);
    height: 20px;
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress-box .progress {
    box-shadow: none;
    height: 3px;
}

.progress-box .progress-bar {
    transition-duration: 2000ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.bg-color-base {
    background: #48b14d !important;
}

.color-heading {
    color: #131313 !important;
}

/* 08. PORTFOLIO
=================================================*/

#portfolio {
    padding: 90px 0 80px;
    background: #fff;
}

#port-image .mix {
    display: none;
}

.filter {
    position: relative;
    display: inline-block;
    color: #131313;
    font-size: 1em;
    font-weight: 600;
    padding: 6px 17px;
    margin: 0 3px;
    font-family: 'Lato', sans-serif;
}

.filter-btn {
    padding: 6px 10px;
    margin-top: 30px;
    margin-bottom: 35px;
    cursor: pointer;
}

.filter-btn .active {
    background-color: #131313;
    color: #fff;
    border-radius: 7px;
    border: none;
    margin-left: 0;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.filter-btn .active:hover {
    background-color: #48b14d;
}

.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 1em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 2px 0;
    min-width: 358px;
    max-width: 358px;
    max-height: 290px;
    width: 48%;
    text-align: center;
    cursor: pointer;
}

.port-desc {
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: #131313;
    margin: 8px 5px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    line-height: 1.2em;
    text-align: center;
}

.port-desc *, .port-desc *:before, .port-desc *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.port-desc:before {
    position: absolute;
    background-color: #fff;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    content: '';
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.port-desc img {
    max-width: 100%;
    vertical-align: top;
}

.port-desc figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    padding: 0 30px;
}

.port-desc h3 {
    text-transform: uppercase;
    margin: 0 0 6px;
    letter-spacing: 2px;
}

.port-desc p {
    margin: 0 0 10px;
    opacity: 0.6;
}

.port-desc .icons {
    width: 100%;
}

.port-desc a {
    margin: 2px;
    display: inline-block;
}

.port-desc a i {
    background-color: #333333;
    color: #131313;
    text-align: center;
    border-radius: 3px;
    display: block;
    line-height: 34px;
    width: 34px;
}

.port-desc a i:before {
    color: #fff;
}

.port-desc:hover:before, .port-desc.hover:before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.port-desc:hover figcaption, .port-desc.hover figcaption {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    opacity: 1;
}

/* 09. SERVICES
=================================================*/

#services {
    padding: 95px 0 65px;
    background: #f2f2f2;
}

#services h2 {
    margin-bottom: 30px;
}

.services-item {
    padding: 30px 50px 30px 0;
}

.services-item i {
    margin-bottom: 20px;
}

/* 10. HIRE
=================================================*/

#hire {
    padding: 95px 0 90px;
    background: #fff;
}

#hire p {
    width: 30em;
    max-width: 100%;
}

#hire .btn {
    margin-top: 60px;
    float: right;
}

/* 11. TESTIMONIAL
=================================================*/

#testimonial {
    padding: 90px 0 120px;
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

#testimonial .overlay {
    position: absolute;
    background: rgba(153, 195, 230, 0.1);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
}

#testimonial .flexslider {
    position: relative;
    width: 60%;
    z-index: 2;
    margin: 0 auto;
}

.testimonial-slider .avatar {
    width: 82px;
    height: 82px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    border: 3px solid #fff;
    margin: 0 auto;
    vertical-align: middle;
    overflow: hidden;
}

.testimonial-slider .avatar img {
    width: 82px;
    height: auto;
}

.testimonial-slider h2 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 1.7em;
    line-height: 45px;
    margin: 30px 0;
}

.testimonial-slider p {
    color: #fff;
    font-weight: 600;
}

/* 12. BLOG
=================================================*/

#blog {
    padding: 90px 0 95px;
    background: #fff;
}

.blog-item {
    width: 100%;
    float: left;
}

.blog-item .blog-img {
    width: 100%;
	float: left;
	overflow: hidden;
    position: relative;
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 20px;
}

.blog-item .blog-img img {
    position: relative;
    max-width: 100%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
}

.blog-item .blog-desc h4 {
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.blog-item .blog-desc h4 a {
    color: #252525;
    text-decoration: none;
}

.blog-item .blog-desc p {
    margin-bottom: 15px;
}

.blog-item:hover .blog-img img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

/* 13. CONTACT
=================================================*/

#contact {
    padding: 95px 0 95px;
    background: #f2f2f2;
}

#contact h2 {
    margin-bottom: 45px;
}

#contact .address-icons p {
    color: #131313;
    margin-bottom: 30px;
}

#contact-form button {
    margin-top: 15px;
}

#contact i.fa {
    color: #131313;
    font-size: 2em;
    line-height: 45px;
    margin-bottom: 10px;
}

#contact .text-danger {
    color: #636363;
    text-align: left;
}

label {
    float: left;
}

label.error {
    color: #515769;
    font-size: 13px;
    font-weight: 300;
    margin: 0 0 15px 0;
}

#contact .form-control {
    display: block;
    background-color: #fff;
    color: #000;
    width: 100%;
    padding: 6px 12px;
    line-height: 1.42857143;
    background-image: none;
    border: 0;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

#contact .form-control:focus {
    border-color: inherit;
    outline: 0;
    -webkit-box-shadow: transparent;
    box-shadow: transparent;
}

.form-control::-webkit-input-placeholder {
    color: #595959;
    font-size: 0.9em;
}

.form-control:-moz-placeholder {
    color: #595959;
    font-size: 0.9em;
}

.form-control::-moz-placeholder {
    color: #595959;
    font-size: 0.9em;
}

.form-control:-ms-input-placeholder {
    color: #595959;
    font-size: 0.9em;
}

textarea {
    resize: none;
}

fieldset {
    border: 0px;
    margin: 0;
    padding: 0
}

#success,
#error {
    display: none
}

#success p,
#error p {
    display: block;
}

#success p {
    color: #fff;
    background: #48b14d;
    text-align: center;
    padding: 10px;
    border: none;
    margin-top: 20px;
    border-radius: 2px;
}

#error p {
    color: #fff;
    background: #636363;
    text-align: center;
    padding: 10px;
    border-radius: 2px;
    border: none;
    margin-top: 10px;
}



/* 14. BLOG POST
=================================================*/

#header {
    background-color: #777777;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    margin-bottom: 50px;
}

#header .overlay-blog:after {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

#header .site-heading, #header .post-heading, #header .page-heading {
    color: #fff;
    padding: 100px 0 50px;
}

#header .site-heading, #header .page-heading {
    text-align: center;
}

#header .site-heading h1, #header .page-heading h1 {
    font-size: 50px;
    margin-top: 0;
}

#header .site-heading .subheading, #header .page-heading .subheading {
    display: block;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    margin: 10px 0 0;
}

#header .post-heading h1 {
    font-size: 35px;
}

#header .post-heading .subheading, #header .post-heading .meta {
    display: block;
    line-height: 1.1;
}

#header .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
}

#header .post-heading .meta {
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
}

#header .post-heading .meta a {
    color: #fff;
}

#post p {
    width: 35em;
    max-width: 100%;
}

#post .img-post {
    margin: 20px 0 20px;
    width: 40em;
    max-width: 100%;
}

#footer {
    padding: 20px 0 27px;
    background: #fff;
}

#footer-post {
    padding: 20px 0 0;
    background: #fff;
    border-top: 1px solid #f0f0f0;
    margin-top: 100px;
}

#footer p {
    color: #131313;
}

.social-icons-footer {
    margin: 0 auto;
    padding: 0;
}

.social-icons-footer li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
}

.social-icons-footer li a {
    color: #131313;
    background: rgba(42, 41, 41, 0);
    font-size: 1.3em;
    display: -moz-inline-stack;
    display: inline-block;
    width: 50px;
    height: 40px;
    padding: 10px 10px 8px 10px;
    box-sizing: border-box;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    margin-bottom: 0;
}

.social-icons-footer li a:hover {
    color: #131313;
}

/* 15. FOOTER
=================================================*/

#footer {
    padding: 20px 0 27px;
    background: #fff;
}

#footer-post {
    background: #f3f3f3;
    padding: 30px 0;
    margin-top: 100px;
}

#footer p {
    color: #131313;
}

.social-icons-footer {
    margin: 0 auto;
    padding: 0;
}

.social-icons-footer li {
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-icons-footer li a {
    color: #131313;
    background: rgba(42, 41, 41, 0);
    font-size: 1.3em;
    display: -moz-inline-stack;
    display: inline-block;
    padding: 10px 10px 8px 10px;
    width: 50px;
    height: 40px;
    box-sizing: border-box;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    margin-bottom: 0;
}

.social-icons-footer li a:hover {
    color: #48b14d;
}

/* 16. DEMO PAGES (ONLY DEMO VERSION)
=================================================*/

#demo {
    height: 100vh;
}

.demo-bg {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 1;
    background-repeat: no-repeat;
}

.overlay-demo:after {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: "";
    z-index: -1;
}

#demo h1 {
    margin: 80px 0 10px;
    color: #131313;
}

#demo h4 {
    margin-bottom: 90px;
    color: #131313;
}

#demo a {
    text-decoration: none;
}

.demo-boxes img {
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
}

#demo .demo-boxes a>h4 {
    color: #131313;
}

.footer-demo p {
    margin: 0 auto;
}
